.mainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    overflow: visible;
    scroll-snap-type: y mandatory;
}

.mainContent {
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mainContent h1 {
    padding: 20px 20px;
    font-size: 40px;
    /* box-shadow: 5px 5px 10px black; */
    border-radius: 15px;
    color: var(--lightblue);
    height: fit-content;
    transition: .2s;
    border: 2px solid var(--darkblue);
    font-weight: 900;
}

.mainContent h1 span:hover {
    color: var(--brown);
    cursor:default;
}

.mainContent h1:hover {
    border: 2px solid var(--brown);
    cursor: default;
}

.mainName {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.mainOccupation {
    margin: 20px;
    padding: 10px !important;
    width: fit-content;
    border-radius: 0px !important;
    background: none !important;
    box-shadow: none !important;
    font-size: 20px !important;
    border: none !important;
    border-bottom: 2px solid var(--darkblue) !important;
}

.mainContent:hover .mainName h1{
    font-size: 60px;
}

.mainName p {
    font-weight: 800;
}

.mainName p:hover {
    color: var(--brown) !important;
    cursor: pointer;
}

.mainContent:hover .mainName p {
    color: var(--darkblue);
}

.test {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    scroll-snap-type: y mandatory;
}

.test h1 {
    border: none;
    text-shadow: 1px 0px 2px var(--darkblue),
        -1px 0px 2px var(--darkblue),
        0px -1px 2px var(--darkblue),
        0px 1px 2px var(--darkblue);
    color: var(--dark);
    font-weight: 900;
    font-size: 900px;
    animation: walk 15s infinite linear;
    overscroll-behavior-x:contain;
    user-select: none;
}

.test h1:hover {
    border: none;
}

@keyframes walk {
    0% {
        transform: translateX(-2000px);
    }

    100% {
        transform: translateX(3000px);
    }
}